src/main/resources/scenario.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="2.0.2">
  <xs:include schemaLocation="network.xsd"/>


  <xs:element name="targetElements">										<!-- used by event, controller -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="scenarioElement" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="feedbackElements">										<!-- used by controller -->
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="scenarioElement" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

	  <xs:element name="scenarioElement"> 
		<xs:complexType>
		  <xs:attribute name="type" use="required">
			<xs:simpleType>
			  <xs:restriction base="xs:string">
				<xs:pattern value="link|node|controller|sensor|event|signal"/>
			  </xs:restriction>
			</xs:simpleType>
		  </xs:attribute>
		  <xs:attribute name="id" type="xs:long" use="required" />
		  <xs:attribute name="usage" type="xs:string" use="optional" />
		</xs:complexType>
	  </xs:element>
	  
  <xs:element name="VehicleTypeOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vehicleType" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>  
	  
  <!-- scenario .................................................................. -->
  
  <xs:element name="scenario">
    <xs:complexType>
      <xs:all>
        <xs:element ref="description" minOccurs="0" maxOccurs="1" />
        <xs:element ref="settings" minOccurs="0"  maxOccurs="1" />
        <xs:element ref="NetworkSet" minOccurs="0" maxOccurs="1" />
				<xs:element ref="VehicleTypeSet" minOccurs="1" />
				<xs:element ref="SignalSet" minOccurs="0" maxOccurs="1"  />
				<xs:element ref="SensorSet" minOccurs="0" maxOccurs="1"  />
        <xs:element ref="InitialDensitySet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="WeavingFactorSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="SplitRatioSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="DownstreamBoundaryCapacitySet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="EventSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="DemandSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="ControllerSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="FundamentalDiagramSet" minOccurs="0" maxOccurs="1" />
        <xs:element ref="NetworkConnections" minOccurs="0" maxOccurs="1" />
        <xs:element ref="DestinationNetworks" minOccurs="0" maxOccurs="1" />
        <xs:element ref="Routes" minOccurs="0" />
      </xs:all>
      <xs:attribute name="project_id" type="xs:long" use="optional" default="0" />
      <xs:attribute name="id" type="xs:long" use="required"/>
      <xs:attribute name="name" type="xs:string" use="optional" />
      <xs:attribute name="schemaVersion" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- settings .................................................................. -->
  
	  <xs:element name="settings">
		<xs:complexType>
		  <xs:all>
			<xs:element ref="units" minOccurs="1" />
		  </xs:all>
		</xs:complexType>
	  </xs:element>
		  
		  <!-- [SI] ... 	length in meters, 	time in seconds
			   US ... 		length in miles,	time in hours
			   Metric ... 	length in km,		time in hours
		  -->
		  <xs:element name="units">
			<xs:simpleType>
			  <xs:restriction base="xs:string">
				<xs:pattern value="US|Metric|SI" />
			  </xs:restriction>
			</xs:simpleType>
		  </xs:element>
		
		
	  <xs:element name="VehicleTypeSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="vehicleType" minOccurs="1" maxOccurs="unbounded" />
		  </xs:sequence>
	  	  <xs:attribute name="project_id" type="xs:long" use="optional" default="0" />
		  <xs:attribute name="id" type="xs:long" use="required"/>
		</xs:complexType>
	  </xs:element>

		  <xs:element name="vehicleType">
			<xs:complexType>
			  <xs:attribute name="name" type="xs:string" use="required" />
			  <xs:attribute name="weight" type="xs:double" use="optional" />			       <!-- default is 1, not used if part if VehicleTypeOrder -->
			</xs:complexType>
		  </xs:element>
		  
		
  <!-- NetworkSet ............................................................... -->

	  <xs:element name="NetworkSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="network" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>
	  
			  
  <!-- SignalSet ................................................................ -->

	  <xs:element name="SignalSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="signal" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		  <xs:attribute name="project_id" type="xs:long" use="optional" default="0" />
		  <xs:attribute name="id" type="xs:long" use="required"/>
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>
	  
		  <xs:element name="signal">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="phase" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
		  	  <xs:attribute name="id" type="xs:long" use="required"/>
			  <xs:attribute name="node_id" type="xs:long" use="required" />
			</xs:complexType>
		  </xs:element>
		  
			  <xs:element name="phase">
				<xs:complexType>
				  <xs:all>
					<xs:element ref="link_references" minOccurs="0" />
				  </xs:all>
				  <xs:attribute name="nema" type="xs:integer" use="required" />
				  <xs:attribute name="protected" type="xs:boolean" use="required" />
				  <xs:attribute name="permissive" type="xs:boolean" use="required" />
				  <xs:attribute name="yellow_time" type="xs:double" use="required" />			<!-- in time units -->
				  <xs:attribute name="red_clear_time" type="xs:double" use="required" />		<!-- in time units -->
				  <xs:attribute name="min_green_time" type="xs:double" use="required" />		<!-- in time units -->
				  <xs:attribute name="lag" type="xs:boolean" use="required" />
				  <xs:attribute name="recall" type="xs:boolean" use="required" />
				</xs:complexType>
			  </xs:element>
  
  <!-- SensorSet ................................................................
  
  valid sensor parameters:
	name=link_type, value in {freeway,HOV,onramp,offramp,other}
  
  valid sensor tables:
	name=data_sources
		 column names = url (String)
						dt (double time units)
						format (value in {PeMS&#x20;Data&#x20;Clearinghouse|Caltrans&#x20;DBX|BHL})
  -->
			  
	  <xs:element name="SensorSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="sensor" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
	  	<xs:attribute name="project_id" type="xs:long" use="optional" default="0" />
	  	<xs:attribute name="id" type="xs:long" use="required" default="0" />
	  	<xs:attribute name="name" type="xs:string" use="optional" default="0" />
	  	<xs:attribute name="description" type="xs:string" use="optional" default="0" />
	  	<xs:attribute name="mod_stamp" type="xs:long" use="optional" default="0" />

		</xs:complexType>
	  </xs:element>
	  
		  <!-- 
		    sensor parameters used in beats:
		      vds - used to assign a VDS station id to a loop sensor
			sensor tables used in beats:
			  name="data_sources", columns={"url","dt" key="false","format"} - used to reference PeMS data sources.
		  -->
		  <xs:element name="sensor">
			<xs:complexType>
			  <xs:all>
				<xs:element ref="display_position" minOccurs="0" />
				<xs:element ref="link_reference" minOccurs="0" />
				<xs:element ref="parameters" minOccurs="0" />
				<xs:element ref="table" minOccurs="0" />
			  </xs:all>
			  
		  	<xs:attribute name="id" type="xs:long" use="required"/>
			  <xs:attribute name="link_position" type="xs:double" use="optional" />
			  <xs:attribute name="link_id" type="xs:long" use="optional" />
			  <xs:attribute name="type" use="required">
				<xs:simpleType>
				  <xs:restriction base="xs:string">
					<xs:pattern value="Loop|Magnetic|Radar|Camera|TMC"/>
				  </xs:restriction>
				</xs:simpleType>
			  </xs:attribute>
			  <xs:attribute name="sensor_id_original" type="xs:string" use="optional" />
			  <xs:attribute name="data_feed_id" type="xs:long" use="optional" />
			  <xs:attribute name="lane_number" type="xs:int" use="optional" />
			  <xs:attribute name="link_offset" type="xs:double" use="optional" />
			  <xs:attribute name="health_status" use="optional">
		    <xs:simpleType >
	          <xs:restriction base="xs:double">
		        <xs:minInclusive value="0"/>
		        <xs:maxInclusive value="1"/>
	          </xs:restriction>
            </xs:simpleType>
  		  </xs:attribute>
			</xs:complexType>
		</xs:element>

  <!-- InitialDensitySet ..................................................... -->

	  <xs:element name="InitialDensitySet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="VehicleTypeOrder" minOccurs="0"  maxOccurs="1"/>
			<xs:element ref="density" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
	  	  <xs:attribute name="project_id" type="xs:long" use="optional" default="0" />
		  <xs:attribute name="id" type="xs:long" use="required"/>
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		  <xs:attribute name="tstamp" type="xs:double" use="optional" default="0.0"/>		<!-- time, to which this initial condition corresponds, in time units after midnight. default=midnight -->
		</xs:complexType>
	  </xs:element>
	  
		  <xs:element name="density">									<!-- content in veh/distance unit -->
			<xs:complexType mixed="true">
			  <xs:attribute name="link_id" type="xs:long" use="required" />
			  <xs:attribute name="destination_network_id" type="xs:long" use="optional" />
			</xs:complexType>
		  </xs:element>

  <!-- WeavingFactorSet ..................................................... -->
	
	  <xs:element name="WeavingFactorSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="VehicleTypeOrder" minOccurs="0"  maxOccurs="1"/>
			<xs:element ref="weavingfactors" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
	  	  <xs:attribute name="project_id" type="xs:long" use="optional" default="0" />
		  <xs:attribute name="id" type="xs:long" use="required"/>
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>

		  <xs:element name="weavingfactors">
			<xs:complexType mixed="true">
			  <xs:attribute name="link_in" type="xs:long" use="required" />
			  <xs:attribute name="link_out" type="xs:long" use="required" />
			</xs:complexType>
		  </xs:element>

  <!-- SplitRatioSet ...................................................... -->

	  <xs:element name="SplitRatioSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="VehicleTypeOrder" minOccurs="0"  maxOccurs="1"/>
			<xs:element ref="splitRatioProfile" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
	  	  <xs:attribute name="project_id" type="xs:long" use="optional" default="0" />
		  <xs:attribute name="id" type="xs:long" use="required"/>
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>
	  
		  <xs:element name="splitRatioProfile">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="splitratio" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			  <xs:attribute name="node_id" type="xs:long" use="required" />
			  <xs:attribute name="start_time" type="xs:double" use="optional" default="0" />		<!-- in time units -->
			  <xs:attribute name="dt" type="xs:double" use="optional" />							<!-- in time units -->
			  <xs:attribute name="destination_network_id" type="xs:long" use="optional" />
			</xs:complexType>
		  </xs:element>		  

			  <xs:element name="splitratio">
				<xs:complexType mixed="true">
				  <xs:attribute name="link_in" type="xs:long" use="required" />
				  <xs:attribute name="link_out" type="xs:long" use="required" />
				</xs:complexType>
			  </xs:element>  
  
  <!-- DownstreamBoundaryCapacitySet ............................................. -->  
  
	  <xs:element name="DownstreamBoundaryCapacitySet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="downstreamBoundaryCapacityProfile" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
	  	  <xs:attribute name="project_id" type="xs:long" use="optional" default="0" />
		  <xs:attribute name="id" type="xs:long" use="required"/>
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>

		  <xs:element name="downstreamBoundaryCapacityProfile">									       <!-- content in [veh/time unit/lane] -->
			<xs:complexType mixed="true">
			  <xs:attribute name="link_id" type="xs:long" use="required" />
			  <xs:attribute name="start_time" type="xs:double" use="optional" default="0" />		<!-- in time units -->
			  <xs:attribute name="dt" type="xs:double" use="optional" />							<!-- in time units -->
			</xs:complexType>
		  </xs:element>

  <!-- EventSet ..................................................................-->
  
	  <xs:element name="EventSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="event" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
	  	  <xs:attribute name="project_id" type="xs:long" use="optional" default="0" />
		  <xs:attribute name="id" type="xs:long" use="required"/>
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>

		  <xs:element name="event">
			<xs:complexType>
			  <xs:all>
				<xs:element ref="description" minOccurs="0" />
				<xs:element ref="display_position" minOccurs="0" />
				<xs:element ref="targetElements" minOccurs="0" />
				<xs:element ref="parameters" minOccurs="0" />
				<xs:element ref="splitratioEvent" minOccurs="0" />			<!-- node split ratio -->
			  </xs:all>
			  <xs:attribute name="id" type="xs:long" use="required" />
			  <xs:attribute name="tstamp" type="xs:double" use="required" />		<!-- in time units -->
			  <xs:attribute name="enabled" type="xs:boolean" use="required" />
			  <xs:attribute name="type" use="required">
				<xs:simpleType>
				  <xs:restriction base="xs:string">
					<xs:pattern value="fundamental_diagram|link_demand_knob|link_lanes|node_split_ratio|control_toggle|global_control_toggle|global_demand_knob"/>
				  </xs:restriction>
				</xs:simpleType>
			  </xs:attribute>
			  <xs:attribute name="java_class" type="xs:string" use="optional" />
			</xs:complexType>
		  </xs:element>			 

			  <xs:element name="splitratioEvent">		<!-- split ratio matrix for one time instant, one input link, one vehicle type -->
			    <xs:complexType>
				  <xs:sequence>
					<xs:element ref="VehicleTypeOrder" minOccurs="0"  maxOccurs="1"/>
					<xs:element ref="splitratio" minOccurs="1" maxOccurs="unbounded" />
				  </xs:sequence>
			    </xs:complexType>
			  </xs:element>	 

  <!-- DemandSet .......................................................... -->
  
	  <xs:element name="DemandSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="VehicleTypeOrder" minOccurs="0"  maxOccurs="1"/>
			<xs:element ref="demandProfile" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
	  	  <xs:attribute name="project_id" type="xs:long" use="optional" default="0" />
		  <xs:attribute name="id" type="xs:long" use="required"/>
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>
			  
		  <xs:element name="demandProfile">									<!-- content in [veh/time unit/vehicle type] -->
			<xs:complexType mixed="true">
			  <xs:attribute name="knob" type="xs:double" use="optional"  default="1"/>
			  <xs:attribute name="start_time" type="xs:double" use="optional" default="0" />		<!-- in time units -->
			  <xs:attribute name="dt" type="xs:double" use="optional" />							<!-- in time units -->
			  <xs:attribute name="link_id_origin" type="xs:string" use="required" />
			  <xs:attribute name="destination_network_id" type="xs:long" use="optional" />
			  <xs:attribute name="std_dev_add" type="xs:double" use="optional"/>					<!-- [veh/time unit/vehicle type] -->
			  <xs:attribute name="std_dev_mult" type="xs:double" use="optional"/>					<!-- [portion/vehicle type] -->
			</xs:complexType>
		  </xs:element>

  <!-- ControllerSet .......................................................... -->
		  
	  <xs:element name="ControllerSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="controller" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
	  	  <xs:attribute name="project_id" type="xs:long" use="optional" default="0" />
		  <xs:attribute name="id" type="xs:long" use="required"/>
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>
	  
		<xs:element name="controller">
		  <xs:complexType>
			<xs:sequence>
				<xs:element ref="parameters" minOccurs="0" />
				<xs:element ref="display_position" minOccurs="0" />
				<xs:element ref="targetElements" minOccurs="1" />
				<xs:element ref="feedbackElements" minOccurs="0" />
				<xs:element ref="queue_controller" minOccurs="0" />
				<xs:element ref="ActivationIntervals" minOccurs="0" />
				<xs:element ref="table" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			  <xs:attribute name="name" type="xs:string" use="optional" />
			  <xs:attribute name="type" use="required">
				<xs:simpleType>
				  <xs:restriction base="xs:string">
					<xs:pattern value="IRM_ALINEA|IRM_TOD|IRM_TOS|CRM_SWARM|CRM_HERO|VSL_TOD|SIG_Pretimed|SIG_Actuated"/>
				  </xs:restriction>
				</xs:simpleType>
			  </xs:attribute>
			  <xs:attribute name="id" type="xs:long" use="required" />
			  <xs:attribute name="dt" type="xs:double" use="required" />							<!-- in time units -->
			  <xs:attribute name="enabled" type="xs:boolean" use="required" />
			  <xs:attribute name="java_class" type="xs:string" use="optional" />
			</xs:complexType>
		  </xs:element>
				
			<xs:element name="queue_controller">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="parameters" minOccurs="0" />
					</xs:sequence>
				  	<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="none|queue_override|proportional|proportional_integral"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="java_class" type="xs:string" use="optional" />
				</xs:complexType>
			</xs:element>

			<xs:element name="ActivationIntervals">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="interval" minOccurs="0" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

				<xs:element name="interval">
					<xs:complexType>
						<xs:attribute name="start_time" type="xs:double" use="required" />		<!-- in time units -->
						<xs:attribute name="end_time" type="xs:double" use="required" />		<!-- in time units -->
					</xs:complexType>
				</xs:element>
			  
  <!-- FundamentalDiagramSet .............................................. -->

	  <xs:element name="FundamentalDiagramSet">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="fundamentalDiagramProfile" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
	  	  <xs:attribute name="project_id" type="xs:long" use="optional" default="0" />
		  <xs:attribute name="id" type="xs:long" use="required" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>
	  
		  <xs:element name="fundamentalDiagramProfile">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="fundamentalDiagram" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			  <xs:attribute name="link_id" type="xs:long" use="required" />
			  <xs:attribute name="start_time" type="xs:double" use="optional" default="0" />		<!-- in time units -->
			  <xs:attribute name="dt" type="xs:double" use="optional" />							<!-- in time units -->
			</xs:complexType>
		  </xs:element>

			  <xs:element name="fundamentalDiagram">
				<xs:complexType>
				  <xs:attribute name="capacity" type="xs:double" use="required" />							<!-- [veh/s/lane]   -->
				  <xs:attribute name="free_flow_speed" type="xs:double" use="required" />					<!-- [m/s] -->
				  <xs:attribute name="congestion_speed" type="xs:double" use="required" />					<!-- [m/s] -->
				  <xs:attribute name="critical_speed" type="xs:double" use="optional" />					<!-- [m/s] -->
				  <xs:attribute name="jam_density" type="xs:double" use="optional" />						<!-- [veh/m/lane] -->
				  <xs:attribute name="capacity_drop" type="xs:double" use="optional" default="0.0"/>		<!-- [veh/s/lane]   -->
				  <xs:attribute name="std_dev_capacity" type="xs:double" use="optional"/>					<!-- [veh/s/lane]   -->
				  <xs:attribute name="std_dev_free_flow_speed" type="xs:double" use="optional"/>			<!-- [m/s]   -->
				  <xs:attribute name="std_dev_congestion_speed" type="xs:double" use="optional"/>			<!-- [m/s]   -->
				</xs:complexType>
			  </xs:element>  

  <!-- NetworkConnections ........................................................ -->

	  <xs:element name="NetworkConnections">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="description" minOccurs="0" />
			<xs:element ref="networkpair" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
	  	  <xs:attribute name="project_id" type="xs:long" use="optional" default="0" />
		  <xs:attribute name="id" type="xs:long" use="optional" default="0" />
		  <xs:attribute name="name" type="xs:string" use="optional" default="" />
		</xs:complexType>
	  </xs:element>  

		  <xs:element name="networkpair">
			<xs:complexType>
			  <xs:sequence>
				<xs:element ref="linkpair" minOccurs="0" maxOccurs="unbounded" />
			  </xs:sequence>
			  <xs:attribute name="network_a" type="xs:long" use="required" />
			  <xs:attribute name="network_b" type="xs:long" use="required" />
			</xs:complexType>
		  </xs:element>
		  
			  <xs:element name="linkpair">
				<xs:complexType>
				  <xs:attribute name="link_a" type="xs:long" use="required" />
				  <xs:attribute name="link_b" type="xs:long" use="required" />
				</xs:complexType>
			  </xs:element>  

	 <!-- DestinationNetworks ...................................................  -->

	  <xs:element name="DestinationNetworks">
		<xs:complexType>
		  <xs:sequence>
			<xs:element ref="destination_network" minOccurs="0" maxOccurs="unbounded" />
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>

		  <xs:element name="destination_network">
			<xs:complexType>
			  <xs:all>
				<xs:element ref="link_references" minOccurs="1" maxOccurs="1" />
			  </xs:all>
			  <xs:attribute name="id" type="xs:long" use="required" />
			  <xs:attribute name="link_id_destination" type="xs:long" use="required" />
			</xs:complexType>
		  </xs:element>
  

</xs:schema>

